<div class="container">
  <div>
    <h2>Modifier une pièce :</h2>
  </div>
  <form>
    <div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <div class="form-group">
          <label>ID Pièce</label>
          <input
            type="text"
            [(ngModel)]="currentPieceth.idPieceth"
            name="idPiece"
            class="form-control"
            readonly
          />
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <label for="nomPiece">Nom pièce</label>
          <input
            type="text"
            [(ngModel)]="currentPieceth.nomPieceth"
            name="nomPiece"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <div class="form-group">
          <label for="auteurPiece">Auteur</label>
          <input
            type="text"
            [(ngModel)]="currentPieceth.auteurPieceth"
            name="auteurPiece"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <label for="dateCreation">Date de création</label>
          <input
            type="date"
            [(ngModel)]="currentPieceth.dateCreation"
            name="dateCreation"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
          <label>Genre</label>
          <select
            class="form-control"
            id="idCat"
            name="idCat"
            [(ngModel)]="updatedGenId"
          >
            <option *ngFor="let cat of genres" [value]="cat.idGen">
              {{ cat.nomGen }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-16 col-md-16 col-lg-16">
        <label class="mb-2">Image :</label>
        <input
          type="file"
          (change)="onImageUpload($event)"
          class="form-control"
        />
      </div>

      <div class="mt-2">
        <button
          type="submit"
          (click)="onAddImagePiece()"
          class="btn btn-success"
        >
          Ajouter Image
        </button>
      </div>

      <div class="card shadow mb-4">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Images</th>
              </tr>
            </thead>
            <tbody *ngFor="let img of currentPieceth.images">
              <tr>
                <td>
                  <img
                    class="card-img-top img-responsive"
                    src="{{ 'data:' + img.type + ';base64,' + img.image }}"
                    style="height: 50px; width: 100px"
                  />
                </td>
                <td style="width:20%" ><a class="btn btn-danger"
                    (click)="supprimerImage(img)">Supprimer</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mt-2">
        <button type="button" (click)="updatePieceth()" class="btn btn-success">
          Modifier
        </button>
      </div>
    </div>
  </form>
</div>
