<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
        <label>Genre</label> 
        <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="IdGenre" (change)="onChange()">
            <option *ngFor="let cat of genres" [value]="cat.idGen">{{ cat.nomGen }}</option>
        </select> 
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Date Création</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let piece of pieces">
                        <td>{{ piece.idPieceth }}</td>
                        <td>{{ piece.nomPieceth }}</td>
                        <td>{{ piece.auteurPieceth }}</td>
                        <td>{{ piece.dateCreation | date:'dd/MM/yyyy' }}</td>
                        <td>{{ piece.genre.nomGen }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
