<div class="container">
    <div>
        <h2>Ajouter une pieces Theatrales :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID piece</label>
            <input type="text" [(ngModel)]="newPieceth.idPieceth" name="idPiece" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom piece</label>
            <input type="text" [(ngModel)]="newPieceth.nomPieceth" name="nomPiece" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>auteur</label>
            <input type="text" [(ngModel)]="newPieceth.auteurPieceth" name="auteur" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newPieceth.dateCreation" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>genre</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="newIdGenre">
                <option *ngFor="let cat of genres" [value]="cat.idGen">
                    {{cat.nomGen}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addPieceth()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
    
