<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table  table-hover">
                <thead class="table table-warning">
                    <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Auteur</th>
                    <th>Date de Création</th>
                    <th>genre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let piece of piecesTheatrales">
                        <td>{{ piece.idPiece }}</td>
                        <td>{{ piece.nomPiece }}</td>
                        <td>{{ piece.auteurPiece }}</td>
                        <td>{{ piece.dateCreation | date:'dd/MM/yyyy' }}</td>
                        <td>{{ piece.genre.nomCat}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerPiece(piece)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updatePiece',piece.idPiece]">Modifier</a></td>
                      

                    </tr>
                </tbody>
            </table>
  
